<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--jqury cdn is here-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Adding semantic for future use if we want to use it-->
    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <!--fontAwesome goes here-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <!-- External css goes here -->
    <link rel="stylesheet" href="stylesheets/landing.css">
</head>
<body>
    <div class="container-fluid">
        <!-- Add your header inside header class -->
        <div class="headerContainer">
            <div class="header"> <!-- color : #212d33-->
                <div class="row">
                    <!-- Initially we are making for our desktop size so we will be using
                        col-xl- , Later we will be changing if required -->
                    <div class="col-lg-9 col-md-9 brandName">
                        <a href="/"><h2><span class="brand"><i class="fab fa-d-and-d"></i> Brand Name</span></h2></a>
                    </div>
                    <div class="col-lg-3 col-md-3 userAuth">
                        <div class="login">
                            <a href="/login"><p>Login  <i class="fas fa-user"></i></p></a>
                        </div>
                        <div class="signup">
                            <a href="/signup"><p>Sign Up  <i class="fas fa-user-plus"></i></p></a>
                        </div>
                        <div class="logout">
                            <a href="/logout"><p>Logout   <i class="fas fa-user-minus"></i></p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seperator"> <!-- color : #8ffcf5-->
            </div>
            <div class="menuBar">
                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="educationHeader"> 
                        <a href="#">Education</a>
                    </div>
                    <div class="hidden" id="education">
                        <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                    </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="developerHeader">
                        <a href="#">Developer</a>
                    </div>
                    <div class="hidden" id="developer">
                        <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                    </div>
                </div>
                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="sportsHeader">
                        <a href="#">Sports</a>
                    </div>
                        <div class="hidden" id="sports">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="healthHeader">
                        <a href="#">Health</a>
                    </div>
                        <div class="hidden" id="health">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="techHeader">
                        <a href="#">Technology</a>
                    </div>
                        <div class="hidden" id="tech">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="cultureHeader">
                        <a href="#">Culture</a>
                    </div>
                        <div class="hidden" id="culture">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="moviesHeader">
                        <a href="#">Movies</a>
                    </div>
                    <div class="hidden" id="movies">
                        <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                    </div>
                </div>
                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="comicsHeader">
                        <a href="#">Comics</a>
                    </div>
                        <div class="hidden" id="comics">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>
                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="more">
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
        </div>