<<<<<<< HEAD
<h1>This will be your landing page !!!</h1>
<h2>Hi there</h2>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<<<<<<< HEAD
    <!--Addint semantic for future use if we want to use it-->
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
=======
    <link rel="stylesheet" href="stylesheets/landing.css">
>>>>>>> f324a6caff8f3c3dcee4acde18ec6d31862032f4
    <title>Homepage</title>
</head>
<body>
    <div class="container-fluid">
        <!-- Add your header inside header class -->
        <div class="header-container">
            <div class="header"> <!-- color : #212d33-->
                <div class="row">
                    <!-- Initially we are making for out desktop size so we will be using
                        col-xl- , Later we will be changing if required -->
                    <div class="col-xl-1">
                        <h2>Logo</h2>
                    </div>
                    <div class="col-xl-11">
                        <h2>Brand Name</h2>
                    </div>
                </div>
            </div>
            <div class="seperator"> <!-- color : #8ffcf5-->
            </div>
        </div>
        <!-- Add body parts inside the body container -->
        <div class="body-container container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 trendingBlogs">
                    <div class="trendingBlogHeader">
                        <h3>Trending Blogs</h3>
                    </div>
                    <div class="trendingBlogsBody">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>

            </div>
        </div>
        <!-- Add footer inside footer class -->
        <div class="footer-container">

        </div>
    </div>
    
</body>
</html>
>>>>>>> 96a08579c2fd81dc2534f0ef4f89f49b8a514c4d
