<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--jqury cdn is here-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Adding semantic for future use if we want to use it-->
    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <!--fontAwesome goes here-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <!-- External css goes here -->
    <link rel="stylesheet" href="stylesheets/landing.css">
    <title>Homepage</title>
</head>
<body>
    <div class="container-fluid">
        <!-- Add your header inside header class -->
        <div class="headerContainer">
            <div class="header"> <!-- color : #212d33-->
                <div class="row">
                    <!-- Initially we are making for our desktop size so we will be using
                        col-xl- , Later we will be changing if required -->
                    <div class="col-lg-9 col-md-9 brandName">
                        <a href="#"><h2><span class="brand"># Brand Name</span></h2></a>
                    </div>
                    <div class="col-lg-3 col-md-3 userAuth">
                        <div class="login">
                            <a href="#"><p>Login  <i class="fas fa-user"></i></p></a>
                        </div>
                        <div class="signup">
                            <a href="#"><p>Sign Up  <i class="fas fa-user-plus"></i></p></a>
                        </div>
                        <div class="logout">
                            <a href="#"><p>Logout   <i class="fas fa-user-minus"></i></p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seperator"> <!-- color : #8ffcf5-->
            </div>
            <div class="menuBar">
                <div class="typeContainer">
                    <div class="menuItem menuHeader"> 
                        <a href="#">Education</a>
                    </div>
                    <div class="hidden unhidden" id="education">
                        <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                    </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="developer">
                        <a href="#">Developer</a>
                    </div>    
                        <div class="hidden unhidden">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>
                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="sports">
                        <a href="#">Sports</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="health">
                        <a href="#">Health</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="tech">
                        <a href="#">Technology</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="culture">
                        <a href="#">Culture</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="movies">
                        <a href="#">Movies</a>
                    </div>
                    <div class="hidden unhidden">
                        <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                        <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                    </div>
                </div>
                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="comics">
                        <a href="#">Comics</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menuItem" id="item1"><a href="#">Item1</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item2</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item3</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item4</a></div>
                            <div class="menuItem" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>
                <div class="typeContainer">
                    <div class="menuItem menuHeader" id="more">
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add body parts inside the body container -->
        <div class="body-container container-fluid">
            <div class="row">
                <div class="trendingBlogs">
                    <div class="trendingBlogHeader">
                        <h3>Trending Blogs</h3>
                    </div>
                    <div class="trendingBlogsBody content-padding">
                        <div class="authorOfBlog">
                            <strong>Blog Heading</strong><em>(Author Name)</em>
                            <hr>
                            <p class="Blog">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type 
                                specimen book. It has...
                            </p>
                            <hr>
                        </div>
                        <div class="authorOfBlog">
                            <strong>Blog Heading</strong><em>(Author Name)</em>
                            <hr>
                            <p class="Blog">Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's standard 
                                dummy text ever since the...
                            </p>
                            <hr>
                        </div>
                        <div class="authorOfBlog">
                            <strong>Blog Heading</strong><em>(Author Name)</em>
                            <hr>
                            <p class="Blog">Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's standard 
                                dummy text ever since the 1500s, when an unknown printer took a galley 
                                of type and scrambled...
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="recentBlogs">
                    <div class="recentBlogHeader">
                        <h3>Recent Blogs</h3>
                    </div>
                    <div class="recentBlogsBody">
                        <div class="authorOfBlog">
                            <strong>Blog Heading</strong><em>(Author Name)</em>
                            <hr>
                            <p class="Blog">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type 
                                specimen book. It has survived...
                            </p>
                            <hr>
                        </div>
                        <div class="authorOfBlog">
                            <strong>Blog Heading</strong><em>(Author Name)</em>
                            <hr>
                            <p class="Blog">Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's standard 
                                dummy text ever since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to make a type specimen book. It has survived 
                                not only five...
                            </p>
                            <hr>
                        </div>
                        <div class="authorOfBlog">
                            <strong>Blog Heading</strong><em>(Author Name)</em>
                            <hr>
                            <p class="Blog">Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's standard 
                                dummy text ever since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also...
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="blahBlogs">
                    <div class="blahBlogHeader">
                        <h3>Blah</h3>
                    </div>
                    <div class="blahBlogsBody">
                        <div class="authorOfBlog">
                            <strong>Blog Heading</strong><em>(Author Name)</em>
                            <hr>
                            <p class="Blog">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown...
                            </p>
                            <hr>
                        </div>
                        <div class="authorOfBlog">
                            <strong>Blog Heading</strong><em>(Author Name)</em>
                            <hr>
                            <p class="Blog">Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's standard 
                                dummy text ever since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially...
                            </p>
                            <hr>
                        </div>
                        <div class="authorOfBlog">
                            <strong>Blog Heading</strong><em>(Author Name)</em>
                            <hr>
                            <p class="Blog">Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's standard 
                                dummy text ever since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to...
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <!-- Add footer inside footer class -->
        <div class="signupFooter col-xs-12">
            <button class="ui big green basic button"><i class="fas fa-spa"></i> Join Our Community</button>
        </div>
    </div>
    <!-- Add your script file here -->
    <script src="javascript/landing.js"></script>
</body>
