<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Adding semantic for future use if we want to use it-->
    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <!--fontAwesome goes here-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <link rel="stylesheet" href="stylesheets/landing.css">
    <title>Homepage</title>
</head>
<body>
    <div class="container-fluid">
        <!-- Add your header inside header class -->
        <div class="header-container">
            <div class="header"> <!-- color : #212d33-->
                <div class="row">
                    <!-- Initially we are making for out desktop size so we will be using
                        col-xl- , Later we will be changing if required -->
                    <div class="col-xl-1">
                        <h2>Logo</h2>
                    </div>
                    <div class="col-xl-11">
                        <h2>Brand Name</h2>
                    </div>
                </div>
            </div>
            <div class="seperator"> <!-- color : #8ffcf5-->
            </div>
            <div class="menu-bar">
                <div class="type-container">
                    <div class="menu-item menu-header"> 
                        <a href="#">Education</a>
                    </div>
                    <div class="hidden unhidden" id="education">
                        <div class="menu-item" id="item1"><a href="#">Item1</a></div>
                        <div class="menu-item" id="item1"><a href="#">Item2</a></div>
                        <div class="menu-item" id="item1"><a href="#">Item3</a></div>
                        <div class="menu-item" id="item1"><a href="#">Item4</a></div>
                        <div class="menu-item" id="item1"><a href="#">Item5</a></div>
                    </div>
                </div>

                <div class="type-container">
                    <div class="menu-item menu-header" id="developer">
                        <a href="#">Developer</a>
                    </div>    
                        <div class="hidden unhidden">
                            <div class="menu-item" id="item1"><a href="#">Item1</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item2</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item3</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item4</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>
                <div class="type-container">
                    <div class="menu-item menu-header" id="sports">
                        <a href="#">Sports</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menu-item" id="item1"><a href="#">Item1</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item2</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item3</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item4</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="type-container">
                    <div class="menu-item menu-header" id="health">
                        <a href="#">Health</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menu-item" id="item1"><a href="#">Item1</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item2</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item3</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item4</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="type-container">
                    <div class="menu-item menu-header" id="tech">
                        <a href="#">Technology</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menu-item" id="item1"><a href="#">Item1</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item2</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item3</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item4</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="type-container">
                    <div class="menu-item menu-header" id="culture">
                        <a href="#">Culture</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menu-item" id="item1"><a href="#">Item1</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item2</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item3</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item4</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>

                <div class="type-container">
                    <div class="menu-item menu-header" id="movies">
                        <a href="#">Movies</a>
                    </div>
                    <div class="hidden unhidden">
                        <div class="menu-item" id="item1"><a href="#">Item1</a></div>
                        <div class="menu-item" id="item1"><a href="#">Item2</a></div>
                    </div>
                </div>
                <div class="type-container">
                    <div class="menu-item menu-header" id="comics">
                        <a href="#">Comics</a>
                    </div>
                        <div class="hidden unhidden">
                            <div class="menu-item" id="item1"><a href="#">Item1</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item2</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item3</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item4</a></div>
                            <div class="menu-item" id="item1"><a href="#">Item5</a></div>
                        </div>
                </div>
                <div class="type-container">
                    <div class="menu-item menu-header" id="more">
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add body parts inside the body container -->
        <div class="body-container container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 trendingBlogs">
                    <div class="trendingBlogHeader">
                        <h3>Trending Blogs</h3>
                    </div>
                    <div class="trendingBlogsBody">
                        <div class="authorOfBlog">
                            <h3>Blog Heading</h3><em>by Author Name</em>
                            <hr>
                            <p class="Blog">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type 
                                specimen book. It has survived not only five centuries, but also the leap into 
                                electronic typesetting, remaining essentially unchanged. It was popularised in the 
                                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
                                recently with desktop publishing software like Aldus PageMaker including versions of 
                                Lorem Ipsum.
                            </p>
                            <hr>
                        </div>
                        <div class="authorOfBlog">
                            <h3>Blog Heading</h3><em>by Author Name</em>
                            <hr>
                            <p class="Blog">Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's standard 
                                dummy text ever since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. It was popularised in the 1960s with 
                                the release of Letraset sheets containing Lorem Ipsum passages, and more 
                                recently with desktop publishing software like Aldus PageMaker including 
                                versions of Lorem Ipsum.
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 recentBlogs">
                    <div class="recentBlogHeader">
                        <h3>Recent Blogs</h3>
                    </div>
                    <div class="recentBlogsBody">
                        <div class="authorOfBlog">
                            <h3>Blog Heading</h3><em>by Author Name</em>
                            <hr>
                            <p class="Blog">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type 
                                specimen book. It has survived not only five centuries, but also the leap into 
                                electronic typesetting, remaining essentially unchanged. It was popularised in the 
                                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
                                recently with desktop publishing software like Aldus PageMaker including versions of 
                                Lorem Ipsum.
                            </p>
                            <hr>
                        </div>
                        <div class="authorOfBlog">
                            <h3>Blog Heading</h3><em>by Author Name</em>
                            <hr>
                            <p class="Blog">Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's standard 
                                dummy text ever since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. It was popularised in the 1960s with 
                                the release of Letraset sheets containing Lorem Ipsum passages, and more 
                                recently with desktop publishing software like Aldus PageMaker including 
                                versions of Lorem Ipsum.
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 blahBlogs">
                    <div class="blahBlogHeader">
                        <h3>Blah</h3>
                    </div>
                    <div class="blahBlogsBody">
                        <div class="authorOfBlog">
                            <h3>Blog Heading</h3><em>by Author Name</em>
                            <hr>
                            <p class="Blog">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type 
                                specimen book. It has survived not only five centuries, but also the leap into 
                                electronic typesetting, remaining essentially unchanged. It was popularised in the 
                                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
                                recently with desktop publishing software like Aldus PageMaker including versions of 
                                Lorem Ipsum.
                            </p>
                            <hr>
                        </div>
                        <div class="authorOfBlog">
                            <h3>Blog Heading</h3><em>by Author Name</em>
                            <hr>
                            <p class="Blog">Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's standard 
                                dummy text ever since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. It was popularised in the 1960s with 
                                the release of Letraset sheets containing Lorem Ipsum passages, and more 
                                recently with desktop publishing software like Aldus PageMaker including 
                                versions of Lorem Ipsum.
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <!-- Add footer inside footer class -->
        <div class="signupFooter col-xs-12">
            <button class="ui big green basic button"><i class="fas fa-spa"></i> Join Our Community</button>
        </div>
    </div>
    <!-- Add your script file here -->
    <script src="javascript/landing.js"></script>
</body>
