<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sperks : Login</title>
    <!-- External css goes here -->
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <% include partials/header.ejs %>
    <div class="container">
        <h2 class="ui dividing header">Log In</h2>
        <form class="ui form" method="POST" action="/login">
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="username" id="email" placeholder="email">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button class="ui button">Log In</button>
        </form>
    </div>
<% include partials/footer.ejs %>