/* BODY STYLING */
/* ***************************************************************** */

/* Menu Styling Begins here*/
/* ================================================================== */
/* This will be changing the opacity of the page when item on menu bar gets clicked */
.onMenuClickBodyOpacity{
    animation-name: faddingEffect;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

/* This will be changing the opacity of the menuItem when item on menu bar gets clicked */
.onMenuItemClicked{
    animation-name: textColorChange;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

/* This is to change the height of Menu when clicked */

.whenAnyMenuItemClicked{
    animation-name: menuBodyHeightChange;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    overflow: hidden;
}
/* Menu Styling ends here */
/* ==================================================================== */

/* HEADER STYLING */
/* ****************************************************************** */
/* This sets the styling for the header container tag which include all other component like user action i.e.
signin, signup etc */
.header{
    background-color: #212d33;
    color: white;
    height: 78px;
    text-align: center;
    margin: 0px -15px;
    padding: 5px;
}

.row{
    margin: 0px 0px;
}

/* This is giving style to the seperator */
.seperator{
    height: 3px;
    background-color: #8ffcf5;
    margin: 0px -15px;
}


/* for styling the brandName */
.brandName{
    padding-top:5px;
}
h2{
    font-size: 40px;
    color:white;
}

/* USER ACTION STYLING */
/* ****************************************************************** */

.userAuth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}

.login, .signup, .logout {
    flex-grow: 1;
    height:100%;
    flex-basis: 100px;
    margin-bottom: -10px;
    align-self: center;
    font-size: 20px;
}

.userAuth p{
    height: 100%;
    padding-top: 10px;
    color: white;
}

.login p:hover, .signup p:hover, .logout p:hover{
    background-color: #8ffcf5;
    color: #212d33;
}


a:hover{
    color: #212d33;
}

/* MENU BAR STYLING */
/* ****************************************************************** */

.menuBar{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 0px;
}

.typeContainer{
    padding: 10px 30px;
}

.menuHeader{
    padding: 10px;
    font-size: 17px;
}

.hidden{
    display:none;
}

.unhidden{
    width: 13%;
    text-align: center;
    padding: 10px;
    margin-left: -30px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    background-color: white;
    text-align: left;
}

.menuItem{
    padding-top:7px;
    padding-bottom: 7px;
}

.menuItem:hover{
    animation-name: itemColorChange;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* BODY STYLING */
/* ****************************************************************** */

.trendingBlogs,.blahBlogs,.recentBlogs{
    padding: 3px;
    width: 30%;
    margin: 1.5%;
    margin-top: 1%;
}
/* you can change the color i'm just adding the simple colors */
.trendingBlogHeader,.recentBlogHeader,.blahBlogHeader{
    background-color: #edf0f2;
    color:#212d33;
    padding-top: 19px;
    height: 60px;
    text-align: center;
    border-radius: 40px;
    margin-bottom: 20px;
}


/* This will only move the content while scroll 
and will keep the heading part stationary and for now
olny i kept the the size of box fixed or we can add 
media query for height in mobile */
.trendingBlogsBody,.recentBlogsBody,.blahBlogsBody{
    height: 450px;
    overflow-y: auto;
    padding-top: 2px;
    padding-left: 3px;
    padding: 15px;
    margin-bottom: 10px;
}
.container-fluid{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}
.signupFooter .ui{
    margin-left: 36%;
}
.authorOfBlog{
    width: 100%;
}
strong{
    font-size: 20px;
}

/* The styling here is only for hidding the scroll bar */
.blahBlogsBody::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.trendingBlogsBody::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.recentBlogsBody::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* @keyframes ANIMATIONS GOES HERE */
/* *************************************************************** */
/* This will be changing the color of the text on hower swiftly */
@keyframes itemColorChange{
    0%{
        color: inherit;
    }
    100%{
        color: #212d33;
    }
}

/* Text color change animation for the  header */
@keyframes textColorChange{
    0%{
        color: inherit;
        background-color: white;
        opacity: 1;
    }
    100%{
        color: #212d33;
        background-color: #8ffcf5;
        opacity: 0.7;
    }
}

/* This will be adding the transition effect to the hidden menu */

/* This is for the blog part of the webpage onMenuClickBodyOpacity*/
@keyframes faddingEffect{
    0% {
        opacity:1;
    }
    100% {
        opacity: 0.5;
    }
}

/* This Keyframes is to change the height of menu item or display the menu items when clicked */

@keyframes menuBodyHeightChange{
    0%{
        height: 0;
    }
    100%{
        height: 100px;
    }
}
