/* HEADER STYLING */
/* ****************************************************************** */

.header{
    background-color: #212d33;
    color: white;
    height: 78px;
    text-align: center;
    margin: 0px -15px;
    padding: 5px;
}

.seperator{
    height: 3px;
    background-color: #8ffcf5;
    margin: 0px -15px;
}

.menu-bar{
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.menu-item{
    padding: 10px;
    margin: auto 30px;
}

/* BODY STYLING */
/* ****************************************************************** */

.trendingBlogs,.blahBlogs,.recentBlogs{
    padding: 3px;
}
/* you can change the color i'm just adding the simple colors */
.trendingBlogHeader,.recentBlogHeader,.blahBlogHeader{
    background-color: #212d33;
    color: white;
    padding-top: 3px;
    height: 30px;
    text-align: center;
}
/* This will only move the content while scroll 
and will keep the heading part stationary and for now
olny i kept the the size of box fixed or we can add 
media query for height in mobile */
.trendingBlogsBody,.recentBlogsBody,.blahBlogsBody{
    height: 520px;
    overflow: scroll;
}
.container-fluid{
    padding: 10px;
}
.signupFooter .ui{
    margin-left: 37%;
}