/* HEADER STYLING */
/* ****************************************************************** */
/* This sets the styling for the header container tag which include all other component like user action i.e.
signin, signup etc */
.header{
    background-color: #212d33;
    color: white;
    height: 78px;
    text-align: center;
    margin: 0px -15px;
    padding: 5px;
}

/* This is giving style to the seperator */
.seperator{
    height: 3px;
    background-color: #8ffcf5;
    margin: 0px -15px;
}


/* for styling the brandName */
.brandName{
    padding-top:5px;
}
h2{
    font-size: 40px;
    color:white;
}

/* USER ACTION STYLING */
/* ****************************************************************** */

.login a, .signup a, .logout a{
    padding: 5px;
    font-size: 15px;
    padding-top: 17px;
    margin: 5px 0px 0px 0px; 
    color:white;
}
.login:hover, .signup:hover, .logout:hover{
    background-color: #8ffcf5;
}

a:hover{
    color: #212d33;
}

/* MENU BAR STYLING */
/* ****************************************************************** */

.menuBar{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px;
}

.typeContainer{
    padding: 10px 30px;
}

.menuHeader{
    padding: 10px;
}

.hidden{
    display:none;
}

.unhidden{
    width: 10%;
    text-align: center;
    padding: 10px;
}

.menuItem{
    padding-top:5px;
    padding-bottom: 5px;
}

/* BODY STYLING */
/* ****************************************************************** */

.trendingBlogs,.blahBlogs,.recentBlogs{
    padding: 3px;
}
/* you can change the color i'm just adding the simple colors */
.trendingBlogHeader,.recentBlogHeader,.blahBlogHeader{
    background-color: #edf0f2;
    color:#212d33;
    padding-top: 3px;
    height: 30px;
    text-align: center;
}
/* This will only move the content while scroll 
and will keep the heading part stationary and for now
olny i kept the the size of box fixed or we can add 
media query for height in mobile */
.trendingBlogsBody,.recentBlogsBody,.blahBlogsBody{
    height: 520px;
    overflow-y: auto;
}
.container-fluid{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
}
.signupFooter .ui{
    margin-left: 36%;
}
.authorOfBlog{
    width: 100%;
}

/* The styling here is only for hidding the scroll bar */
.blahBlogsBody::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.trendingBlogsBody::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.recentBlogsBody::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}